$primary: hsl(231, 69%, 60%);
$secondary: hsl(0, 94%, 66%);
$neutral: hsl(229, 8%, 60%);
$black-neutral: hsl(225, 3%, 25%);
$meduim-neutral: hsl(223, 3%, 45%);
$white-neutral: hsla(0, 0%, 95%, 0.982);
$light-neutral: hsla(0, 8%, 90%, 0.982);
$dark-blue: hsl(229, 31%, 21%);
